@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #121212;
    --text-primary: #fff;
    --text-theme-primary: #06b921;
    --text-theme-hover-primary: #07ef2a;
    --gray-primary: #7c827d;
    --gray-strong: #a6aba6;
    --gray-weak: #30332f;
    --gray-weak-extra: #191a19;
  }
}

:root[theme='dark'] {
  --bg-primary: #121212;
  --text-primary: #fff;
  --text-theme-primary: #06b921;
  --text-theme-hover-primary: #07ef2a;
  --gray-primary: #7c827d;
  --gray-strong: #a6aba6;
  --gray-weak: #30332f;
  --gray-weak-extra: #191a19;
  background-color: var(--bg-primary);
}

:root[theme='light'] {
  --bg-primary: #f7f9f7;
  --text-primary: #000;
  --text-theme-primary: #019217;
  --text-theme-hover-primary: #067917;
  --gray-primary: #5e6360;
  --gray-strong: #30332f;
  --gray-weak: #dedede;
  --gray-weak-extra: #efefef;
  background-color: var(--bg-primary);
}
